.account-main{
  position: relative;
  flex-grow: 1;
  width: 980px;
  box-sizing: border-box;
  margin-left: 1.6875rem;
  min-width: 0;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 13%);
  border-radius: 0.125rem;
  .account-body{
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100%;
    .account-header{
      border-bottom: .0625rem solid #efefef;
      padding: 1.125rem 0;
      margin-left: 20px;
      .header-title{
        margin: 0;
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 1.5rem;
        text-transform: capitalize;
        color: #333;
      }
      .footer-title{
        margin-top: 0.1875rem;
        font-size: 0.875rem;
        line-height: 1.0625rem;
        color: #555;
      }
    }
    .account-content{
      padding-top: 1.875rem;
      display: flex;
      padding-left: 50px;
      flex-direction: row;
      align-items: flex-start;
      .info-account-text{
        flex: 1;
        padding-right: 3.125rem;
        .property{
          margin-bottom: 1.875rem;
          display: flex;
          .name-label{
            width: 20%;
            text-align: right;
            color: rgba(85,85,85,.8);
            text-transform: capitalize;
            overflow: hidden;
          }
          .name-text{
            color: #333;
            display: flex;
            margin-left: 20px;
            padding-top: 0;
            .save-account{
              height: 40px;
              padding: 0 20px;
              font-size: 14px;
              text-transform: capitalize;
              font-weight: 400;
              background: #ee4d2d;
              outline: none;
              border: 0;
              color: #fff;
            }

          }

        }
      }
      .info-account-image{
        width: 17.5rem;
        overflow: hidden;
        border-left: .0625rem solid #efefef;
        justify-content: center;
        display: flex;
        .avatar{
          display: flex;
          flex-direction: column;
          align-items: center;
          .image-avatar{
            height: 6.25rem;
            width: 6.25rem;
            margin: 1.25rem 0;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background: chartreuse;
          }
          .btn-add{
            display: flex;
            align-items: center;
            justify-content: center;
            .btn{
              border: 0;
              outline: none;
              background: cornsilk;
            }
          }
        }
      }
    }
  }
}
