<div class="container container--pall main">
  <div class="content">
    <div class="panel">
      <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <!--        <div class="alert alert-danger">{{errorMessage}}</div>-->
        <div class="form-group">
          <label for="password">Mật khẩu mới</label>
          <div class="p-inputgroup">
            <input type="email" formControlName="password" id="password" pInputText placeholder="Nhập mật khẩu mới"
            />
            <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
              <div *ngIf="f['password'].errors['required']">Bạn cần nhập mật khẩu</div>
              <div *ngIf="f['password'].errors['password']">Mật khẩu không hợp lệ</div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="matchingPassword">Xác nhận lại mật khẩu</label>
          <div class="p-inputgroup">
            <input [type]="pss" formControlName="matchingPassword" id="matchingPassword" pInputText placeholder="Xác nhận lại mật khẩu"
                   [ngClass]="{'is-invalid': submitted && f['matchingPassword'].errors}"/>
            <div *ngIf="submitted && f['matchingPassword'].errors" class="invalid-feedback">
              <div *ngIf="f['matchingPassword'].errors['required']">Bạn cần xác nhận lại mật khẩu</div>
              <div *ngIf="f['matchingPassword'].errors['matching']">Mật khẩu đã nhập không khớp</div>
            </div>
            <i class="pi pi-eye-slash eye" (click)="showPass()" *ngIf="hidden"></i>
            <i class="pi pi-eye eye" (click)="hiddenPass()" *ngIf="!hidden"></i>
          </div>
        </div>
        <div style="margin-top: 10px">
          <ns-button [label]="'Đặt lại mật khẩu'" [lWidth]="100" [cHeight]="45" [cBorder]="22.5" [cBackground]="'#FFC107'" style="margin-top: 20px"></ns-button>
        </div>

      </form>
    </div>
  </div>
</div>
