<div class="product-rating">
  <div class="product-rating_header">
    ĐÁNH GIÁ SẢN PHẨM
  </div>
  <div class="count-rating">
    <p-rating [cancel]="false" [stars]="5" [readonly]="true" [iconOnStyle]="{'color': '#FFCE3D', 'font-size': '14px'}"></p-rating>
    <span>5/5</span>
    <span>(5 đánh giá)</span>
  </div>

  <div class="product-review_list">
    <div class="review-item">
      <div class="avatar-user">
        <div class="avatar-img" style="width: 40px; height: 40px; border-radius: 50%">
          <img src="assets/images/avatar/avatar-girl.jpg" style="width: 100%; height: 100%; border-radius: 50%"/>
        </div>
      </div>
      <div class="review_main">
        <a href="#" class="name-user">mai dat</a>
        <div class="review-rating-score">
          <p-rating [cancel]="false" [readonly]="true" [stars]="5" [iconOnStyle]="{'color': '#FFC107', 'font-size': '8px'}"></p-rating>
        </div>
        <div class="review-time">2021-11-10 20:38</div>
        <div class="review-content">
          Lần thứ 3 mua đồ của shop vẫn cứ là oke, kéo rất chất lượng, thái độ phục vụ tốt, có thắc mắc nào đều giải quyết
        </div>
        <div class="feed-back">
          <div class="feed-l">
            <div class="avatar-img" style="width: 40px; height: 40px; border-radius: 50%; background: #2e2e2e">
              <img src="assets/images/avatar/avatar-admin.gif" style="width: 100%; height: 100%; border-radius: 50%"/>
            </div>
          </div>
          <div class="feed-back-main">
            <div style="padding: 0px 5px; font-size: 12px; color: #000000de">Phản hồi từ shop</div>
            <div class="review-content">
              Cảm ơn bạn đã tin tưởng và ủng hộ shop ạ!
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
