<div class="text-header-bar">
  <div class="text-sort">
    Thông tin thêm
  </div>
  <div class="text-sort flex-link" routerLink="/">
    <i class="pi pi-home icons-home"></i>
    <span class="text-home">Trang chủ</span>
  </div>
  <div class="text-sort" (click)="goProfile()">
    <i class="pi pi-user icons-home"></i>
    <span class="text-home" >Trang cá nhân</span>
  </div>
  <div class="text-sort" (click)="goCart()">
    <i class="pi pi-shopping-cart icons-home"></i>
    <span class="text-home">Đi tới giỏ hàng</span>
  </div>
  <a href="tel: +84972381941" class="text-sort flex-link">
    <i class="pi pi-phone icons-home"></i>
    <span class="text-home">Liên hệ shop: &nbsp;<strong>0972381941</strong></span>
  </a>
</div>

